---
import BaseHead from '@components/BaseHead.astro'
import i18next, { t } from 'i18next'
import { Trans, HeadHrefLangs } from 'astro-i18next/components'
import Header from '@components/Header.vue'
import Footer from '@components/Footer.astro'

const {
  image,
  title = t('site.title'),
  description = t('site.description'),
  ogType,
} = Astro.props
---

<!doctype html>
<html lang={i18next.language}>
  <head>
    <BaseHead
      title={title}
      description={description}
      image={image}
      ogType={ogType}
    />
    <HeadHrefLangs />
  </head>
  <body class="dark:bg-dark bg-white">
    <div id="main-container" class="min-h-screen">
      <Header client:only="vue" />
      <slot />
      <Footer />
    </div>
    <script is:inline>
      const theme = (() => {
        let storedTheme
        try {
          storedTheme = localStorage.getItem('theme')
        } catch (e) {
          // Handle localStorage issues, like privacy mode
          console.error('Could not access localStorage for theme', e)
        }

        if (storedTheme) {
          return storedTheme
        }
        if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
          return 'dark'
        }
        return 'light'
      })()

      // Set the global theme variable
      window.theme = theme

      // Update the page based on the theme
      document.documentElement.classList.toggle('dark', theme === 'dark')
      const mainContainer = document.getElementById('main-container')
      if (mainContainer) {
        mainContainer.classList.toggle('bg-dark', theme === 'dark')
        mainContainer.classList.toggle('bg-white', theme === 'light')
      }
    </script>
  </body>
</html>
