---
import BaseHead from "@components/BaseHead.astro";
import i18next, { t } from "i18next";
import { Trans, HeadHrefLangs } from "astro-i18next/components";

const {
  image,
  title = t("site.title"),
  description = t("site.description"),
  ogType,
} = Astro.props;
---

<!doctype html>
<html lang={i18next.language}>
  <head>
    <BaseHead
      title={title}
      description={description}
      image={image}
      ,
      ogType={ogType}
    />
    <HeadHrefLangs />
  </head>
  <body>
    <slot />
  </body><script is:inline>
    const theme = (() => {
      if (
        typeof localStorage !== "undefined" &&
        localStorage.getItem("theme")
      ) {
        return localStorage.getItem("theme");
      }
      if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
        return "dark";
      }
      return "light";
    })();

    if (theme === "light") {
      document.documentElement.classList.remove("dark");
    } else {
      document.documentElement.classList.add("dark");
    }
  </script>
</html>
