---
import BaseHead from '@components/BaseHead.astro'
import i18next, { t } from 'i18next'
import { Trans, HeadHrefLangs } from 'astro-i18next/components'
import Header from '@components/Header.vue'
import Footer from '@components/Footer.astro'

const {
  image,
  title = t('site.title'),
  description = t('site.description'),
  ogType,
} = Astro.props
---

<!doctype html>
<html lang={i18next.language}>
  <head>
    <BaseHead
      title={title}
      description={description}
      image={image}
      ogType={ogType}
    />
    <HeadHrefLangs />
  </head>
  <body class="dark:bg-dark bg-white">
    <div id="main-container" class="min-h-screen">
      <Header client:only="vue" />
      <slot />
      <Footer />
    </div>
    <script is:inline>
      let theme = (() => {
        let storedTheme
        try {
          storedTheme = localStorage.getItem('theme')
        } catch (e) {
          console.error('Could not access localStorage for theme', e)
        }
        return (
          storedTheme ||
          (window.matchMedia('(prefers-color-scheme: dark)').matches
            ? 'dark'
            : 'light')
        )
      })()

      document.documentElement.classList.toggle('dark', theme === 'dark')
      const mainContainer = document.getElementById('main-container')
      if (mainContainer) {
        mainContainer.classList.toggle('bg-dark', theme === 'dark')
        mainContainer.classList.toggle('bg-white', theme === 'light')
      }

      window.addEventListener('themeChange', (e) => {
        const newTheme = e.detail.theme
        theme = newTheme
        document.documentElement.classList.toggle('dark', newTheme === 'dark')
        if (mainContainer) {
          mainContainer.classList.toggle('bg-dark', newTheme === 'dark')
          mainContainer.classList.toggle('bg-white', newTheme === 'light')
        }
        try {
          localStorage.setItem('theme', newTheme)
        } catch (e) {
          console.error('Could not save theme to localStorage', e)
        }
      })
    </script>
  </body>
</html>
